@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai&display=swap');
body {
    background-color: #E5D9B6;
    font-family: 'Noto Serif Thai', serif;
}

.small-front {
    font-size: 12px;
}